// @import './variables.scss'; // 已采用插件 style-resources-loader 导入
// @import './mixins.scss'; // 已采用插件 style-resources-loader 导入
@import './transition.scss';
@import './svgicon.scss';
@import './theme/register.scss'; // 注册主题

/* Global scss */

.app-container {
  padding: 20px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}
