/* 公共变量 */

// Sidebar 组件
$sideBarWidth: 240px;
$menuBg:#152d3d;
$menuText:rgb(167, 177, 194);
$menuActiveText:#fff;

// tags-view 组件
$activeTagBg: #42b983;

:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
